@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  *, ::before, ::after {
    @apply border-slate-500;
  }

  * {
    @apply text-gray-300;
  }
}

@layer components {
  label.required::after {
    content: " *";
    @apply text-red-500;
  }

  label.optional::after {
    content: " (Optional)";
    @apply text-gray-400 text-sm;
  }
}
