:root {
  --size-reg: 5px;
  --size-lg: 7px;
  --size-xl: 10px;
  --size-xxl: 20px;
  --border-radius: 4px;
}

form {
  width: 100%;
  max-width: 600px;
  padding: var(--size-lg) var(--size-xxl);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

button {
  padding: var(--size-reg) var(--size-xl);
  border-radius: var(--border-radius);
  font-size: medium;

  &.primary {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }

  &.secondary {
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
  }
}
