// .container {
//   display: grid;
//   grid-template-columns: repeat(2, minmax(0, 1fr));
//   gap: var(--size-lg);
//   margin-bottom: calc(var(--size-reg) * 3);
//   background-color: var(--color-secondary);

//   @media screen and (max-width: 700px) {
//     grid-template-columns: 1fr;
//   }
// }
