.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100dvh - 70px);
  margin-top: var(--header-height);
  padding: var(--pading-regular);
}

.main-container .search-bar {
  width: 100%;
  padding: var(--pading-regular) var(--pading-large);
}

.main-container .job-container {
  display: flex;
  flex: 1 1 auto; /* Allow job-container to grow/shrink */
  overflow: hidden; /* To prevent overflow outside */
  height: 100%;
}

.job-container .job-list {
  flex: 1 1 0;
  display: flex;
  gap: 10px;
  overflow-y: scroll;
  padding: 0 var(--pading-regular) 0 var(--pading-large);
  flex-direction: column;
  border-radius: var(--border-radius-regular);
}
