@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 14pt;
}

body {
  padding: 10px;
  background-color: #ccc;
}

#root,
html,
body {
  min-height: 100%;
}

header {
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

h1 {
  font-family: Archivo;
  font-size: 25pt;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

label {
  margin-top: 10px;
}

input[type="text"] {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.entity__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
}

.entity__list-item:hover {
  background-color: rgb(147, 147, 147);
  color: white;
  border-radius: 5px;
}

.country-manager-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ccc;
}

table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.table-container {
  height: 90vh;
  overflow-y: auto;
  margin-top: 10px;
  border: 2px solid black;
}

thead,
th,
td {
  border: 2px solid black;
  padding: 5px;
}

thead th {
  background-color: #a2a2a2;
  position: sticky;
  top: 0;
  z-index: 10;
}

tbody tr:hover {
  font-weight: bold;
  color: green;
  background-color: #c0bfbf;
}

.table__row--selected,
.table__row--selected:hover {
  background-color: rgb(41, 131, 60);
  font-weight: bold;
  color: white;
}

.toolbar {
  display: flex;
  gap: 5px;
}

.toolbar__button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  transition: all 0.2s;
}

.toolbar__button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.toolbar__button--add {
  background-color: green;
  color: white;
}

.toolbar__button--edit {
  background-color: rgb(238, 223, 18);
  color: black;
}

.toolbar__button--delete {
  background-color: red;
  color: white;
}

.form__button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  transition: all 0.2s;
}

.form__button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.error__container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.error__message {
  margin: 15px 0px 15px 0px;
  color: red;
  font-size: 16pt;
}

.error__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
}

.card-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  padding-right: 10px;
  min-width: 40%;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.card__title {
  font-family: Archivo;
  font-size: 25pt;
  font-weight: bold;
}

.card:hover {
  box-shadow: 5px 5px 10px green;
}

.card:active {
  background-color: #b54848;
}

.card-details {
  border: 1px solid black;
  border-radius: 15px;
  min-width: 50%;
  min-height: 100%;
  padding: 10px;
}

.card-details__title {
  font-family: Archivo;
  font-size: 25pt;
  font-weight: bold;
}

.card-details__spacer {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-details__content {
  text-align: justify;
  font-size: 16pt;
  overflow: auto;
}

.card-details__category-title {
  margin-top: 15px;
  font-family: Archivo;
  font-size: 20pt;
}

.card-details__skills-container {
  padding-top: 0px;
  display: flex;
  gap: 5px;
}
