@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --black: #010101;
  --light-blue: #e1eff6;
  --silver: #afafaf;
  --grey: #4f4f50;
  --blue: #115bfb;
  --turquoise: #3bedb7;
  --yellow: #fce702;
  --purple: #8154f0;
  --muddy: #bb8652;

  --border-radius-small: 10px;
  --border-radius-regular: 10px;
  --border-radius-large: 25px;
  --margin-regular: 10px;
  --margin-large: 20px;
  --pading-regular: 10px;
  --pading-large: 20px;
  --header-height: 65px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 14pt;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

#root {
    margin-top: var(--header-height);
    padding: var(--pading-regular);
}

body {
  padding-left: clamp(16px, 5vw, 96px);
  padding-right: clamp(16px, 5vw, 96px);
  transition: padding 0.3s ease;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--light-blue);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  min-width: 100dvw;
  height: var(--header-height);
  background-color: white;
}

h1 {
  font-family: Archivo, sans-serif;
  font-size: 24pt;
  margin-bottom: var(--margin-regular);
  color: #333;
}

label {
  margin-top: var(--margin-regular);
  font-weight: bold;
}

input[type="text"] {
  border-radius: var(--border-radius-small);
  padding: 8px;
  border: 1px solid #ccc;
}

.table-container {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  border: 2px solid black;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  min-width: 600px;
  background-color: white;
}

thead th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

thead th {
  background-color: #efefef;
  position: sticky;
  top: 0;
  z-index: 1;
}

td,
th {
  word-break: break-word;
  white-space: normal;
}

tbody tr:hover {
  background-color: #f0f0f0;
  font-weight: bold;
}

.table__row--selected,
.table__row--selected:hover {
  background-color: #29833c;
  color: white;
}

.toolbar {
  display: flex;
}

.toolbar__button {
  padding: 10px 20px;
  border: none;
  background: none;
  font-weight: bold;
}

.toolbar__button:hover {
  border-bottom: 3px solid var(--turquoise);
}

.toolbar__button:active {
  border-bottom: 3px solid var(--turquoise);
}

.toolbar__button--green {
  background-color: var(--turquoise);
  color: white;
}

.toolbar__button--yellow {
  background-color: var(--yellow);
  color: black;
}

.toolbar__button--red {
  background-color: #dc3545;
  color: white;
}

.error__message {
  color: red;
  font-weight: bold;
  margin-top: var(--margin-regular);
}
